# IDE Tools for Java (J2EE)
.idea/
.settings/
.mtj.tmp/
.classpath
.project

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Package Files
*.jar
*.war
*.ear
*.iml
*.log

